.App-header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;

}
.App-title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

